<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="https://custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/1113117/s5fcprkr6p67qbdyl2y0.png" alt="Bootstrap" width="40" height="40" style="border-radius: 60%;">
    </a>
    
    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="{ 'active-tab': isRouteActive('/') }">
          <a class="nav-link" aria-current="page" href="#">Invoice</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active-tab': isRouteActive('/result') }">
          <a class="nav-link" href="/result">Invoice List</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active-tab': isRouteActive('/view_stocks') }">
          <a class="nav-link" href="/view_stocks">Stock List</a>
        </li>

        <li>

        </li>

      </ul>
    </div>
  </div>

  <input type="checkbox" id="darkmode-toggle" (click)="darkModeButton() "  [checked]="isDarkModeEnabled()" />
  <label for="darkmode-toggle">

    <svg class="sun" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13 6V3M18.5 12V7M14.5 4.5H11.5M21 9.5H16M15.5548 16.8151C16.7829 16.8151 17.9493 16.5506 19 16.0754C17.6867 18.9794 14.7642 21 11.3698 21C6.74731 21 3 17.2527 3 12.6302C3 9.23576 5.02061 6.31331 7.92462 5C7.44944 6.05072 7.18492 7.21708 7.18492 8.44523C7.18492 13.0678 10.9322 16.8151 15.5548 16.8151Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <svg class="moon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12" cy="12" r="6" stroke="#1C274C" stroke-width="1.5"/>
      <path d="M12 2V3" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M12 21V22" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M22 12L21 12" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M3 12L2 12" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M19.0708 4.92969L18.678 5.32252" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M5.32178 18.6777L4.92894 19.0706" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M19.0708 19.0703L18.678 18.6775" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M5.32178 5.32227L4.92894 4.92943" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
    </svg>
  

  </label>
  
</nav>

<br><br>

<router-outlet></router-outlet>