/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  /* Define light theme */
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
    
  /* Define dark theme */
  .dark-theme {
    --background-color: #000000;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Update specific component/page styles for dark theme */
  .dark-theme body {
    background-color: var(--background-color);
  }
  